
body {
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to top, #472f4e, #602646);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "BalsamiqSans";
}

.all {
    margin: 0%;
    padding: 0%;  
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.winners {
    margin: 0%;
    padding: 0%;
    color: #ffdde7;
    font-size: 5rem;
    text-align: center;
}

.twoElements {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.card {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
    width: 80vh;
    height: 80vh;
}

.playerOne, .playerTwo {
    text-align: center;
    font-size: 2rem;
    color: #EFB6C8;
}

.cubeOne, .cubeTwo {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #A35C7A;
    width: 70vh;
    background: linear-gradient(to bottom, #EFB6C8, #A888B5);
    border-radius: 2rem;
    box-shadow: 5px 5px 20px 10px #281b2c;
}

.oneColumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    
}

.twoColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.threeColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}


.circle {
    width: 7.5rem;
    height: 7.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0%;
}

.hidden {
    opacity: 100%;
}
